.Main{
    background-color: grey;
    border-style: solid;
    width: 125px;
    padding: 10px;
    margin: 0; 
    text-align: center;
}

.Display{
    background-color:aqua;
    width: 100px;
    padding: 0px;
    margin: 0;
    display: grid; 
    grid-template-columns: 25%;
}

.Numero{
    background-color: red;
    border-radius: 50%;
}

.Symbol{
    background-color: orange;
    border-radius: 50%;
}

.Clear{
    background-color: blue;
    border-radius: 50%;
}
